.stock-container {
    width: 100%;
    font-size: 15px;
    height: 45px;
    background-color: white;
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    padding: 10px;
  }
  
  .down-arrow {
    margin-left: auto; /* Push the down arrow to the right */
  }
  
  .stock-text {
    flex: 1; /* Expand to fill available space */
    text-align: center;
  }
  