<h2 *ngIf="!isEditMode" mat-dialog-title>Ajouter une catégorie</h2>
<h2 *ngIf="isEditMode" mat-dialog-title>Modifier une catégorie</h2>
<div mat-dialog-content border="1px solid blacks" style="width: 700px;">

  <mat-form-field appearance="fill" bord style="width: 654px;">
    <mat-label>Nom de la catégorie</mat-label>
    <input placeholder="Entrer le Nom de la catégorie" matInput [(ngModel)]="categoryName"><br>
  </mat-form-field>

  <br>
  <mat-form-field appearance="fill" bord style="width: 654px;">
    <mat-label>Description</mat-label>
    <textarea placeholder="Entrer le description de la catégorie" style="width:290px" matInput [(ngModel)]="categoryDescription"></textarea><br>
  </mat-form-field>

  <br>
  <div *ngIf="isEditMode">
        <label>Catégorie parente: &nbsp; <label style="color:red ;">(facultatif)</label> </label><br>
        <select id="inputGender" class="form-control" #cParents (change)="onSelected(cParents.value)">
            <ng-container *ngIf="listAllCategories != null; else emptyList">
              <option *ngIf="categoryParent == 'null'" selected disabled>Choisissez une catégorie parente...</option>
              <option *ngIf="categoryParent != 'null'"  disabled>Choisissez une catégorie parente...</option>
              <ng-container *ngFor="let cat of listAllCategories">
                <option *ngIf="cat.name == categoryParent" [value]="cat.name" selected>{{cat.name}}</option>
                <option *ngIf="cat.categoryParent == 'null' && cat.name != categoryParent && cat.name != categoryName" [value]="cat.name">{{cat.name}}</option>
              </ng-container>
            </ng-container>
            <ng-template #emptyList>
              <option selected disabled>Liste des catégories est vide...</option>
            </ng-template>
          </select>
  </div>

  <div *ngIf="!isEditMode">
    <label>Catégorie parente: &nbsp; <label style="color:red ;">(facultatif)</label> </label><br>
    <select id="inputGender" class="form-control" #cParents (change)="onSelected(cParents.value)">
      <ng-container *ngIf="listAllCategories != null; else emptyList">
        <option selected disabled>Choisissez une catégorie parente...</option>
        <ng-container *ngFor="let cat of listAllCategories">
            <option *ngIf="cat.categoryParent == 'null'" [value]="cat.name">{{cat.name}}</option>
        </ng-container>
      </ng-container>
      <ng-template #emptyList>
        <option selected disabled>Liste des catégories est vide...</option>
      </ng-template>
    </select>
  </div>
  

  <br>
  <div style="width: 454px;">
    <mat-label>Image</mat-label>
        <div *ngIf="selectPhoto == 1">
            <img [src]="imagePreview" class="img-thumbnail" width="200px" height="200px">
        </div>

    <div class="mt-2">
        <input #fileInput type="file" style="display: none" (change)="selectFile($event)">
        <span class="btn btn-primary" (click)="fileInput.click()"><i class="fas fa-upload"></i> Upload</span>
    </div>
    <span *ngIf="errorPreviewImage && isRealImage" style="color: green;"> {{errorPreviewImage}}<br></span>
    <span *ngIf="errorPreviewImage && !isRealImage" style="color: red;"> {{errorPreviewImage}}<br></span>
</div>

  
<div mat-dialog-actions>
  <button mat-button (click)="cancel()">Non merci</button>
  <button mat-button  (click)="checkData()">Envoyer</button>
</div>
