<div class="container-fluid">

    <div class="header">
        <h1 class="header-title">
            Stock
        </h1>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="">Catalogue</a></li>
                <li class="breadcrumb-item active" aria-current="page">Stock</li>
            </ol>
        </nav>
    </div>
    <div class="row">
        <div class="col-xxl-12">
            <div class="card">
                <div class="card-header">
                    
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="rectangle">
                                <div class="row">
                                    <div class="col-xs-6">
                                        <img src="/assets/img/packages.png" width="50px" height="50px">
                                    </div>
                                    <div class="col-xs-6">
                                        <p class="centered-text">Stock disponible: {{getAvailableStock()}} pièces</p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="rectangle">
                                <div class="row">
                                    <div class="col-xs-6">
                                        <img src="/assets/img/storage.png" width="50px" height="50px">
                                    </div>
                                    <div class="col-xs-6">
                                        <p class="centered-text">Valeur du stock: {{getStockValue()}} TND </p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="rectangle">
                                <div class="row">
                                    <div class="col-xs-6">
                                        <img src="/assets/img/financial-profit.png" width="50px" height="50px">
                                    </div>
                                    <div class="col-xs-6">
                                        <p class="centered-text">Valeur du ventes: {{getSellPricesValue()}} TND</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        


        <div class="col-xxl-12">
            <div class="card">
                <div class="card-header">
                    <div class="card-actions float-end">
                        <a  class="me-1">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-refresh-cw align-middle"><polyline points="23 4 23 10 17 10"></polyline><polyline points="1 20 1 14 7 14"></polyline><path d="M3.51 9a9 9 0 0 1 14.85-3.36L23 10M1 14l4.64 4.36A9 9 0 0 0 20.49 15"></path></svg>
                        </a>
                        <div class="d-inline-block dropdown show">
                            <a  data-bs-toggle="dropdown" data-bs-display="static">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-more-vertical align-middle"><circle cx="12" cy="12" r="1"></circle><circle cx="12" cy="5" r="1"></circle><circle cx="12" cy="19" r="1"></circle></svg>
                            </a>

                            <div class="dropdown-menu dropdown-menu-end">
                                <a class="dropdown-item" >Action</a>
                                <a class="dropdown-item" >Another action</a>
                                <a class="dropdown-item" >Something else here</a>
                            </div>
                        </div>
                    </div>
                    <h5 class="card-title mb-0">Stock des produits</h5><br>
                    <mat-dialog-actions>
                       <!-- <button mat-raised-button  type="submit"   class="btn btn-primary">
                            Exporter en excel 
                        </button> -->
                    </mat-dialog-actions>
                </div>
                <div class="card-body">
                    <div id="datatables-clients_wrapper" class="dataTables_wrapper dt-bootstrap5 no-footer">
                    <div class="row dt-row">
                        <div class="col-sm-12">                       
                    <!--code here -->
                    <table  id="stockTable" class="table table-striped dataTable no-footer dtr-inline" style="width: 100%;" aria-describedby="datatables-clients_info">
                        <thead>
                        <tr>
                            <th class="sorting" tabindex="0" aria-controls="datatables-clients" rowspan="1" colspan="1" style="width: 18px;" aria-label="#: activate to sort column ascending">IMAGE</th>
                            <th class="sorting" tabindex="0" aria-controls="datatables-clients" rowspan="1" colspan="1" style="width: 18px;" aria-label="#: activate to sort column ascending">TYPE</th>
                            <th class="sorting" tabindex="0" aria-controls="datatables-clients" rowspan="1" colspan="1" style="width: 18px;" aria-label="#: activate to sort column ascending">NOM DU PRODUIT</th>
                            <th class="sorting" tabindex="0" aria-controls="datatables-clients" rowspan="1" colspan="1" style="width: 18px;" aria-label="#: activate to sort column ascending">DÉTAILS</th>
                            <th class="sorting" tabindex="0" aria-controls="datatables-clients" rowspan="1" colspan="1" style="width: 64px;" aria-label="Company: activate to sort column ascending">RÉFÉRENCE</th>
                            <th class="sorting" tabindex="0" aria-controls="datatables-clients" rowspan="1" colspan="1" style="width: 64px;" aria-label="Company: activate to sort column ascending">STOCK</th>
                            <th class="sorting" tabindex="0" aria-controls="datatables-clients" rowspan="1" colspan="1" style="width: 42px;" aria-label="Status: activate to sort column ascending">PRIX D'ACHAT</th>
                            <th class="sorting" tabindex="0" aria-controls="datatables-clients" rowspan="1" colspan="1" style="width: 42px;" aria-label="Status: activate to sort column ascending">PRIX DU VENTE</th>
                        </tr>
                    </thead>
                    <tbody>
                        <ng-container *ngFor="let item of productsList" >
                                <ng-container *ngIf="item.stock != null && item.stock > 0">
                                    <!-- product-->
                                    <ng-container *ngIf="item.productImages.length > 0">
                                        <tr>
                                            <td>
                                                <img [src]="this.authService.host+'/public/product/'+item.id" width="50" height="50" class="rounded-circle my-n1 zoom" alt="Avatar">
                                            </td>
                                            <td>
                                                Produit
                                            </td>
                                            <td>
                                                {{item.name}}
                                            </td>
                                            <td>

                                            </td>
                                            <td>
                                                {{item.reference}}
                                            </td>
                                            <td>
                                                {{item.stock}}
                                            </td>
                                            <td>
                                                {{item.buyPrice}} DT
                                            </td>
                                            <td>
                                                {{item.sellPrice}} DT
                                            </td>

                                        </tr>
                                    </ng-container>
                                     <!-- product variants -->
                                    <ng-container *ngIf="item.variants.length > 0">
                                        <ng-container *ngFor="let variant of item.variants">
                                            <tr>
                                                <td>
                                                    <img [src]="this.authService.host+'/public/variant/'+variant.id" width="50" height="50" class="rounded-circle my-n1 zoom" alt="Avatar">
                                                </td>
                                                <td>
                                                    Variant
                                                </td>
                                                <td>
                                                    {{item.name}}
                                                </td>
                                                <td>
                                                    {{getVariantDescription(variant)}}
                                                </td>
                                                <td>
                                                    {{item.reference}}
                                                </td>
                                                <td>
                                                    {{variant.stock}}
                                                </td>
                                                <td>
                                                    {{item.buyPrice}} DT
                                                </td>
                                                <td>
                                                    {{variant.price}} DT
                                                </td>
                                            </tr>
                                        </ng-container>
                                    </ng-container>
                                </ng-container>
                                <!-- only variants -->
                                <ng-container *ngIf="item.stock == null || item.stock == 0">
                                    <ng-container *ngIf="item.variants.length > 0">
                                        <ng-container *ngFor="let variant of item.variants">
                                            <tr>
                                                <td>
                                                    <img [src]="this.authService.host+'/public/variant/'+variant.id" width="50" height="50" class="rounded-circle my-n1 zoom" alt="Avatar">
                                                </td>
                                                <td>
                                                    Variant
                                                </td>
                                                <td>
                                                    {{item.name}}
                                                </td>
                                                <td>
                                                    {{getVariantDescription(variant)}}
                                                </td>
                                                <td>
                                                    {{item.reference}}
                                                </td>
                                                <td>
                                                    {{variant.stock}}
                                                </td>
                                                <td>
                                                    {{item.buyPrice}} DT
                                                </td>
                                                <td>
                                                    {{variant.price}} DT
                                                </td>
                                            </tr>
                                        </ng-container>
                                    </ng-container>
                                </ng-container>
                        </ng-container>
                    </tbody>
                </table>

                       </div>
                    </div>
               </div>
                </div>
            </div>
        </div>
    </div>
</div>